<div class="container-fluid">
  <div class="tabs is-centered height is-fullwidth">
    <h3>{{title}}</h3>
  </div>
  <div class="input-group">
    <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
      <input type="search" id="city-searchbar"
      placeholder="What're you searching for?" 
      aria-describedby="button-addon1" 
      class="form-control border-0 bg-light"
      required
      [(ngModel)]="locale" name="locale">
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>
  <!-- <div class="row" id="city"> -->
    <div class="tabs is-centered height is-fullwidth"
    #stickyMenu
    [class.sticky] = "sticky">
    <h3>{{ city }}</h3>
  </div>
  <!-- </div> -->
  <div class="row">
    <div class="col-lg-6">
      <div align="center" style="margin-top:10%;">
        <circle-progress 
        [title]="tempF"
        [subtitle]="far"
        [percent]="tempF"
        [space]="-10"
        [radius]="50"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="10"
        [outerStrokeColor]="'#4882c2'"
        [innerStrokeColor]="'#e7e8ea'"
        [animation]="true"
        [animationDuration]="1000"></circle-progress>
      </div>         
    </div>
    <div class="col-lg-6">
      <div align="center" style="margin-top:10%;">
        <circle-progress 
        [title]="tempC"
        [subtitle]="cel"
        [percent]="tempF"
        [space]="-10" 
        [radius]="50" 
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="10" 
        [outerStrokeColor]="'#4882c2'" 
        [innerStrokeColor]="'#e7e8ea'" 
        [animation]="true"
        [animationDuration]="1000"></circle-progress>
      </div>
    </div>
  </div>
  <div>
    <h3>{{ description }}</h3>
  </div>
</div>